@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 10px;
}

/* Global Background Styling */
html,
body {
  background-color:  #111827; /* Same as your scrollbar track color */
  min-height: 100%; /* Ensure full height on small screens */
  margin: 0; /* Remove default margin */
}

